<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simona Mitmann</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">


    <h1>Simona Mitmann</h1>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('nerd')}}">About me</a></li>
                <li><a href="{{url_for('school')}}">About flask</a></li>
            </ul>
        </nav>
</head>

<body>
    {% block content %}
    <!--Content from other HTMLS-->
    {% endblock %}
</body>


<footer>
    <h1>    &copy; Simona Mitmann 2026</h1>

</footer>

</html>