<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simona Mitmann</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <header>Master nav bar</header>


    <h1>Simona Mitmann</h1>
        <nav>
            <ul>
                <li><a href="#sectionone">The computer nerd page</a></li>
                <li><a href="sectiontwo">The rollerskater page</a></li>
                <li><a href="myface">The brain dump</a></li>
                <li><a>Click here webapp professor</a></li>
            </ul>
        </nav>
</head>

<body>
    {% block content %}
    <!--Content from other HTMLS-->
    {% endblock %}
</body>


<footer>
    <h1>We have a footer baby! <br>
    &copy; Simona Mitmann 2026</h1>

</footer>

</html>