{% extends "base.html" %}
{% block content %}
<body>
<main>
<section id="introduction">
    <h2>Hello</h2>
    <p>...and welcome to this little space here. You may use the navigation bar to pick your poison, or admire these beautiful cats. The choice is yours.</p>
</section>

<section id="kitties">
    <img src="static/bigblackcat.jpg" alt="Majestic big black long-haired cat with green eyes that stare right into your soul" class="nicebigphoto">
    <img src="static/arnold.jpg" alt="Orange cat being scratched on the chin" class="nicebigphoto">
    <img src="static/latte.jpg" alt="White cat with brown spots on the head licking its paw and looking into the camera, lying on a veranda in front of a Norwegian flag and a painted stone" class="nicebigphoto">
    <img src="static/italokitty.jpg" alt="To do: add kittie pics" class="nicebigphoto">
    <img src="static/ludo.jpg" alt="White cat sleeping peacefully with paws raised up" class="nicebigphoto">
    <img src="static/tilla.jpg" alt="White long haired cat sleeping peacefully, curled up with its head on its paw" class="nicebigphoto">
    <img src="static/koreakitty.jpg" alt="Large calico kitty doing a big stretch in the sun, butt up in the air" class="nicebigphoto">
</section>

</main>
</body>

{% endblock %}