{% extends "base.html" %}
{% block content %}
<h1>About me</h1>
<p>My name is in the header and I'm about to hit the first round birthday that people tend to dread. For the record, I'm excited. But I digress. </p>
<h2>What is this place and why did I build it?</h2>
<p>This is my first ever attempt at a web application, for now just a relatively simple page. I study Computer Science and Engineering at the Arctic University of Norway. My CS-quest started when I found myself in the position of the office computer whisperer, then levelled up to excel wizard and quickly found out that those roles are too limited. So, I'm here to learn to become an *actual* computer whisperer and when I grow up I want to use the knowledge to solve whatever problems life may throw at me. </p>
<h2>What else do I do?</h2>
<ol>
    <li>I rollerskate a lot.</li>
    <li>I do gymnastics.</li>
    <li>I ski.</li>
    <li>I bake.</li>
    <li>I help turn wheat into flour to pay the bills - which is very convenient, considering the previous point.</li>
    <li>I play computer games.</li>
    <li>I enjoy life.</li>
</ol>

<section id="pictures">
    <img src="static/simona1.jpg" alt="Woman on quad roller skates doing the shoot the duck move with wheels close to and aiming right at the camera" class="nicebigphoto">
    <img src="static/simona2.jpg" alt="Woman on quad roller skates in the middle of a front flip off a ramp towards a foam pit, upside down in a crunched position with hands on the shins" class="nicebigphoto">
</section>

{% endblock %}
